 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">         
          <nav>
            <%= link_to "Thinker's Hat", root_path, id: "logo" %>
            <ul class="nav pull-right">
              <li><%= link_to "HOME", root_path %></li>
              <li><%= link_to "VISION", vision_path %></li>
              <li><%= link_to "SERVICES", service_path %></li>
              <li><%= link_to "PROJECTS", project_path %></li>
              <li><%= link_to "CLIENTS", client_path %></li>
              <li><%= link_to "ABOUT US", about_path %></li>
              <li><%= link_to "CONTACT", contact_path %></li>
              <li><%= link_to "JOIN OUR TEAM", team_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>